* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	--color-header: #f4efec;
	--color-text: #cdc6c3;
	--gallery-gap: calc(var(--index) * 7.5)
}
@font-face {
	font-family: raleway-c;
	src: url(../fonts/raleway-regular.woff2);
}
@font-face {
	font-family: outfit-c;
	src: url(../fonts/outfit-regular.woff2);
}
h1, h2, h3, h4, h5, h6 {
	font-family: outfit-c;
}
/* will-change */
.content, .hero, .main-header, .gallery > * {
	will-change: transform;
}
body {
	background-image: url(../img/bg.jpg);
	background-size: 50px;
	color: #fafafa;
	font-family: raleway-c;
	overflow-x: hidden;
}
.hero {
	width: calc(var(--index) * 36);
	position: absolute;
	left: 37vw;
	top: 22vh;
	z-index: -1;
}
.main-header {
	height: 100vh;
}
.container {
	padding: 0 7vw;
}
.main-title {
	font-size: calc(var(--index) * 8);
	position: absolute;
	width: min-content;
	bottom: 12vh;
	line-height: .9;
}
.gallery {
	display: flex;
	padding: calc(var(--index) * 8) 0;
}
.gallery > * {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.gallery__item {
	max-width: calc(var(--index) * 21);
	margin-bottom: var(--gallery-gap);
	max-height: 180vh;
	border-radius: 8px;
}
.gallery__left {
	margin-top: calc(var(--gallery-gap) * 1.75);
}
.gallery__right .gallery__item {
	margin: 0;
	margin-top: var(--gallery-gap);
}
.text-block {
	color: var(--color-text);
	position: relative;
}
.text-block__h {
	font-size: 2rem;
	line-height: 2.4rem;
	color: var(--color-header);
	margin-bottom: 1.5rem;
}
.text-block__p {
	line-height: 1.75;
}

.form-zvonok .bot-send-mail{
	padding: 15px;
	margin-top: 10px;
	background: none;
	text-transform: uppercase;
	color: #e2e7ec;
	font-weight: bold;
	background-color: #6e6eaa;
	cursor: pointer;
	border: 3px #ff00d4 solid;
	border-radius: 5px;
}
.form-zvonok .bot-send-mail:hover{
	color: #6e6eaa;
	background-color: #4b4b97;
}
 

footer {
  background-color: #000000; 
  color: #fff; 
  padding: 10px 0;
  text-align: center;
  width:100%;
}

.social-icons {
  font-size: 12; 
}

.social-icon {
  display: inline-block;
  margin-right: 10px; 
}


.social-icon img {
  width: 32px; 
  height: 32px; 
  vertical-align: middle; 
}


.social-icon a {
  color: #fff; 
  text-decoration: none;
  transition: color 0.3s; 
}

.social-icon a:hover {
  color: #ff6600; 
}
 

#fullscreen-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999;
  text-align: center;
}

#fullscreen-image {
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}


#scrollToTopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  padding: 10px 20px;
  background-color: #6e6eaa; 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#scrollToTopButton:hover {
  color:#040404;
}
</section>

  <section id="section3">

    <form class="obratnuj-zvonok" autocomplete="off" /*action='email.php' */ method='post'>
      <div class="form-zvonok">

        <div>
          <label>Имя <span>*</span></label>
          <input type='text' name='name' required>
        </div>
        <div>
          <label>Номер телефона <span>*</span></label>
          <input type='text' name='phone' required>
        </div>
        <div>
          <label>Сообщение</label>
          <input type='text' name='message'>
        </div>

        <div>
          <label>Введите текст с картинки<span>*</span></label>
          <input type='text' name='capcha' required>
        </div>
        <img src="img1/capcha.jpg" class="pic">
        <input class="bot-send-mail" type='submit' value='Послать заявку'>
      </div>
    </form>

  </section>

  .column {
    flex: 1; 
    margin: 10px; 
    padding: 10px; 
    border: 1px solid #6e6eaa; 
    border-radius: 5px;
    background: #b9cee2;
  }
  
  
  .obratnuj-zvonok{
    width: 100%;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  
  }
  .form-zvonok{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    box-sizing: border-box;
    color: #000000;
  }
  .form-zvonok div{
    padding: 15px 0;
  }
  .bot-send-mail{
    box-sizing: border-box;
    width: 100%;
  }
  .form-zvonok label,.form-zvonok input{
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  .form-zvonok label{
    margin-bottom: 5px;
    font-weight: bold;
  
  }
  .form-zvonok input{
    padding: 10px 15px;
    margin-top: 10px;
    color: #fff;
    background-color: #b9cee2;
    border: 1px #ff0000 solid;
  }
  .form-zvonok label span{
    color: #6e6eaa;
  }
  .form-zvonok .bot-send-mail{
    padding: 15px;
    margin-top: 10px;
    background: none;
    text-transform: uppercase;
    color: #e2e7ec;
    font-weight: bold;
    background-color: #6e6eaa;
    cursor: pointer;
    border: 3px #ff00d4 solid;
    border-radius: 5px;
  }
  .form-zvonok .bot-send-mail:hover{
    color: #6e6eaa;
    background-color: #4b4b97;
  }
   
  
  footer {
    background-color: #000000; 
    color: #fff; 
    padding: 10px 0;
    text-align: center;
    width:100%;
  }
  
  .social-icons {
    font-size: 12; 
  }
  
  .social-icon {
    display: inline-block;
    margin-right: 10px; 
  }
  
  
  .social-icon img {
    width: 32px; 
    height: 32px; 
    vertical-align: middle; 
  }
  
  
  .social-icon a {
    color: #fff; 
    text-decoration: none;
    transition: color 0.3s; 
  }
  
  .social-icon a:hover {
    color: #ff6600; 
  }
   
  
  #fullscreen-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
    text-align: center;
  }
  
  #fullscreen-image {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
  }
  
  
  #scrollToTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    padding: 10px 20px;
    background-color: #6e6eaa; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #scrollToTopButton:hover {
    color:#040404;
  }
  
  